
body {
	overflow-y: scroll;
	background: url("assets/chalkboard.jpg")no-repeat center center fixed #000; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
	background-color: #FFFFFF;
}

.gridContainer {
	width: 100%;
	max-width: 1200px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: hsla(0,0%,94%,0.31);
}

.nav_div {
	width: 30%;
}

.nav_ul {
	width: 100%;
	margin-left: 0;
}

ul li a {
	width: 100%;
	text-decoration: none;
	color: #4D4D4D;
}

ul li a:hover {
	color: #BB1B1B;
	font-size: medium;
	font-weight: bold;
}

.intro_paragraph {
	width: 50%;
	float: left;
	clear: none;
	text-align: left;
	color: #4D4D4D;
	text-indent: 20px;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 5px;
}

.footer_div {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: small;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.menu_bar {
	width: 50%;
	height: 20%;
	float: right;
	clear: none;
	color: #4D4D4D;
	background-color: #FFFFFF;
	padding-top: 40px;
	padding-bottom: 0px;
	display: block;
}

.menu_box {
	width: 14%;
	display: block;
	clear: none;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.menu_icon:hover {
	-webkit-transform: rotate(15deg);
 	transform: rotate(15deg);
}

.alt_menu_icon:hover {
	-webkit-transform: rotate(-15deg);
 	transform: rotate(-15deg);
}

.left_side {
	width: 50%;
	float: left;
	background-color: #FFFFFF;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	text-indent: 10px;
	text-transform: none;
	vertical-align: baseline;
	clear: none;
	border-right: thin solid #B5B1B1;
	color: #4D4D4D;
	border-bottom: thin solid #B5B1B1;
	padding-bottom: 30px;
}

.right_side {
	width: 49.9%;
	float: right;
	text-align: center;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	text-indent: 10px;
	text-transform: none;
	vertical-align: baseline;
	clear: none;
	color: #4D4D4D;
	border-bottom: thin solid #B5B1B1;
	background-color: #FFFFFF;
	padding-bottom: 30px;
 }
 
ul.simple {
  margin-top: 0.2em;
  list-style: circle;
  padding: 0 2.5em;
}

.lesson_text {
	width: 90%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #4D4D4D;
	text-align: left;
	background-color: #FFFFFF;
	font-size: large;
	font-weight: normal;
	padding-left: 55px;
}

.quote_text {
	width: 85%;
	padding-left: 60px;
	color: #4D4D4D;
	font-size: large;
	font-weight: normal;
	text-align: left;
	font-style: italic;
	background-color: #FFFFFF;
}

.float_right {
	float: right;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 1%;
}

.float_center {
	float: none;
	clear: both;text-align: center;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

img, object, embed, video {
	max-width: 100%;
}

.img-with-text {
    text-align: justify;
    width: 77;
}

ul, ol {
	margin: 1em 0;
	text-align: left;
	display: block;
}

dd { margin: 0 0 0 40px; }

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

img { 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
	vertical-align: middle; 
}

.clearfix:before, .clearfix:after { 
	content: ""; 
	display: table; 
}

.clearfix:after { 
	clear: both;
}

.clearfix { 
	*zoom: 1; 
}


/* iPad - Portrait Mode */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
	  
	.menu_bar {
		width: 100%;
		float: none;
		clear: none;
		text-align: center;
		color: #4D4D4D;
		background-color: #FFFFFF;
		padding-left: 80px;
		padding-bottom: 5px;
		display: inline;
	}  
	
	.intro_paragraph {
		width: 100%;
		float: left;
		clear: none;
		text-align: left;
		color: #4D4D4D;
		text-indent: 20px;
		background-color: #FFFFFF;
		padding-top: 10px;
		padding-bottom: 0px;
	}
	
	.gridContainer {
		width: 100%;
		max-width: 768px;
		padding-left: 0%;
		padding-right: 0%;
		margin-right: 10%;
		clear: none;
		float: none;
		background-color: hsla(0,0%,94%,0.31);
	}
}